@CHARSET "UTF-8";

.howmany_text  /* for ie :(*/
{
	margin-top:5px;
	height:25px;
}


.dd_text
{
 width:173px;
 height:31px;
 border:0px none;
 background:none;
 margin-top:6px;
 margin-left:20px;
 margin-right:5px;
 direction:rtl;
 cursor:default;
 font-size:14px;
 font-family:Tahoma;
 color:#514E47;
}