@CHARSET "UTF-8";

* {
margin: 0px;
padding: 0px;
}

form{clear:both;}

/* LAYOUT */

/*------------ HEADER -------------------*/
#header
{
	/*width:1300px;*/
	height:171px;
	background-color:#473B2F;
	position:relative;
}

#header ul
{
height:171px;
list-style-type: none;
position:relative;
margin-left:auto;
margin-right:auto;
width:1238px;
}

#header li
{
	float:left;
}

#header_content
{
	width:977px;
	background:url("images/top_strip_main_bg.jpg") no-repeat;
	height:171px;
	position:relative;
}

#header_content_search
{
	margin-top:80px;
	margin-left:6px;
	height:30px;
	width:260px;
	float:left;
}

#header_content_search .textInput
{
	background:url("images/search_text_box_idle.jpg") no-repeat;
	border:none;
	height:38px;
	width:212px;
	color:#CEBDAD;
	font-size:12px;
	font-family:Tahoma;
}

#header_right
{
	width:130px;
	background:url("images/top_strip_right_side.jpg") no-repeat;
	height:171px;
}

#header_left
{
	width:122px;
	height:171px;
}

#navigation
{
	position:absolute;
	bottom:0px;
	right:0px;
	height:45px;
}

#navigation ul
{
height:45px;
list-style-type: none;
width:969px;
bottom: 6px;
right: 1px;
}

#navigation li
{
	float:left;
	cursor:pointer;
}

#menu_home
{
	width:99px;
	height:45px;
	background:url("images/main_menu_homepage_idle.jpg") no-repeat;
}

#menu_home_pushed
{
	width:99px;
	height:45px;
	background:url("images/main_menu_homepage_pushed.jpg") no-repeat;
}

#menu_home:hover
{
	width:99px;
	height:45px;
	background:url("images/main_menu_homepage_hover.jpg") no-repeat;
}

#menu_whatwedo
{
	width:154px;
	height:45px;
	background:url("images/main_menu_whatwedo_idle.jpg") no-repeat;
}

#menu_whatwedo:hover
{
	width:154px;
	height:45px;
	background:url("images/main_menu_whatwedo_hover.jpg") no-repeat;
}


#menu_whatwedo_pushed
{
	width:154px;
	height:45px;
	background:url("images/main_menu_whatwedo_pushed.jpg") no-repeat;
}

#menu_recommended
{
	width:144px;
	height:45px;
	background:url("images/main_menu_recommended_idle.jpg") no-repeat;
}

#menu_recommended:hover
{
	width:144px;
	height:45px;
	background:url("images/main_menu_recommended_hover.jpg") no-repeat;
}

#menu_recommended_pushed
{
	width:144px;
	height:45px;
	background:url("images/main_menu_recommended_pushed.jpg") no-repeat;
}

#menu_customized
{
	width:196px;
	height:45px;
	background:url("images/main_menu_customized_idle.jpg") no-repeat;
}

#menu_customized:hover
{
	width:196px;
	height:45px;
	background:url("images/main_menu_customized_hover.jpg") no-repeat;
}

#menu_customized_pushed
{
	width:196px;
	height:45px;
	background:url("images/main_menu_customized_pushed.jpg") no-repeat;
}

#menu_locations
{
	width:107px;
	height:45px;
	background:url("images/main_menu_locations_idle.jpg") no-repeat;
}

#menu_locations:hover
{
	width:107px;
	height:45px;
	background:url("images/main_menu_locations_hover.jpg") no-repeat;
}

#menu_locations_pushed
{
	width:107px;
	height:45px;
	background:url("images/main_menu_locations_pushed.jpg") no-repeat;
}

#menu_gallery
{
	width:85px;
	height:45px;
	background:url("images/main_menu_gallery_idle.jpg") no-repeat;
}

#menu_gallery:hover
{
	width:85px;
	height:45px;
	background:url("images/main_menu_gallery_hover.jpg") no-repeat;
}

#menu_gallery_pushed
{
	width:85px;
	height:45px;
	background:url("images/main_menu_gallery_pushed.jpg") no-repeat;
}

#menu_blog
{
	width:78px;
	height:45px;
	background:url("images/main_menu_blog_idle.jpg") no-repeat;
}

#menu_blog:hover
{
	width:78px;
	height:45px;
	background:url("images/main_menu_blog_hover.jpg") no-repeat;
}

#menu_blog_pushed
{
	width:78px;
	height:45px;
	background:url("images/main_menu_blog_pushed.jpg") no-repeat;
}

#menu_contact
{
	width:99px;
	height:45px;
	background:url("images/main_menu_contact_idle.jpg") no-repeat;
}

#menu_contact:hover
{
	width:99px;
	height:45px;
	background:url("images/main_menu_contact_hover.jpg") no-repeat;
}

#menu_contact_pushed
{
	width:99px;
	height:45px;
	background:url("images/main_menu_contact_pushed.jpg") no-repeat;
}

/*------------ RESULTS -------------------*/

#results
{
	position:relative;
	height:473px;
	width:977px;
	
	background:url("images/page_header_bg.jpg") no-repeat;
}


#results_wizard
{
	background-color: #B8A47F;

}

#results_wizard_content
{
	width:977px;
	margin-left:auto;
	margin-right:auto;
}


#results_title
{
	position:absolute;
	top:35px;
	right:50px;
	color:#514E47;
	font-size:22px;
	font-family:Tahoma;
}

#results_title_small
{
	position:absolute;
	top:32px;
	right:0px;
	color:#514E47;
	font-size:16px;
	font-family:Tahoma;
}

#search_results_content
{
	width:977px;
	margin-left:auto;
	margin-right:auto;
}

#results_boxes ul
{

}

#results_boxes li
{	
	height:147px;
	width:977px;
	list-style-type: none;
	float:left;
	
}


#results_box_A
{
	
	height:147px;
	width:977px;
	
	background:url("images/search_results_bright_bg.jpg") no-repeat;
}
#results_box_B
{
	
	height:147px;
	width:977px;
	
	background:url("images/search_results_dark_bg.jpg") no-repeat;
}


/*****************/
#filter_Subjects
{
	top:105px;
	right:342px;
	font-size:12px;
}

#filter
{
	width:170px;
	position:absolute;
	top:99px;
	right:462px;
}


/*------------ RECOMMENDEDS -------------------*/


#recommendeds_wizard
{
	height:263px;
	background-color: #B8A47F;

}



#recommendeds
{
	background:url("images/recommended_main_bg.jpg") no-repeat;
	height:700px;
	position:relative;
	
	width:977px;
	margin-left:auto;
	margin-right:auto;
}


#recommended_title
{
	position:absolute;
	top:35px;
	right:55px;
	color:#514E47;
	font-size:22px;
	font-family:Tahoma;
}


#recommended_A
{	
	position:absolute;
	top:360px;
	right:65px;
	text-align:right;
	width:280px;
}

#recommended_B
{	
	position:absolute;
	top:360px;
	right:363px;
	text-align:right;
	width:280px;
}

#recommended_C
{	
	position:absolute;
	top:360px;
	right:661px;
	text-align:right;
	width:280px;
}
	
	
#recommended_name_title
{
	
	top:32px;
	right:55px;
	color:#514E47;
	font-size:22px;
	font-family:Tahoma;
	
}

#recommended_small_text
{
	color:#f00;
	font-size:10px;
	font-family:Tahoma;
	
}

#recommended_small_text_content
{
	color:#514E47;
	font-size:10px;
	font-family:Tahoma;
	
}



#recommended_content_descriptoin
{
	color:#514E47;
	font-size:12px;
	font-family:Tahoma;
}




#recommended_A_image
{
	
	position:absolute;
	top:137px;
	right:82px;

}

#recommended_B_image
{
	
	position:absolute;
	top:137px;
	right:380px;

}

#recommended_C_image
{
	
	position:absolute;
	top:137px;
	right:676px;

}


/*------------ SEARCH WIZARD -------------------*/
#search_wizard
{
	height:336px;
	background-color: #B8A47F;
}

#search_wizard_content
{
	width:977px;
	margin-left:auto;
	margin-right:auto;
}

#search_wizard_content ul
{
height:336px;
list-style-type: none;
width:977px;
}

#search_wizard_content li
{
	float:left;
}


#wizard_slogen
{
	background:url("images/wizard_slogan_image.jpg") no-repeat;
	height:336px;
	width:257px;
}

#wizard
{
	background:url("images/wizard_bg.jpg") no-repeat;
	height:336px;
	width:702px;
	position:relative;
}

#wizard_find_button
{
	background:url("images/wizard_find_button_idle.jpg") no-repeat;
	height:53px;
	width:172px;
	position:absolute;
	bottom:71px;
	left:44px;
	cursor:pointer;
}

#wizard_find_button:hover
{
	background:url("images/wizard_find_button_hover.jpg") no-repeat;
	height:53px;
	width:172px;
	position:absolute;
	bottom:71px;
	left:44px;
	cursor:pointer;
}

#need_help_button
{
	position:absolute;
	bottom:10px;
	left:20px;
}

#need_help_button a
{
	color:#813D26;
	font-size:14px;
	font-weight:bold;
	font-family:Tahoma;
}

#wizard_title
{
	position:absolute;
	top:35px;
	right:25px;
	color:#514E47;
	font-size:22px;
	font-family:Tahoma;
}

/*
.rowElem
{
	direction:rtl;
}

.rowElem ul
{
	display:none;
	overflow:auto;
	width:224px;
	height:31px;
}

.rowElem li
{
	width:224px;
	height:31px;
	direction:rtl;
}
*/

.questions
{
	font-size:14px;
	font-family:Tahoma;
	font-weight:bold;
	color:#DBCAA7;
	position:absolute;
}


/* dropdown section*/

.dd_text
{
 width:173px;
 height:31px;
 border:0px none;
 background:none;
 margin-left:20px;
 margin-right:5px;
 direction:rtl;
 cursor:default;
 font-size:14px;
font-family:Tahoma;
color:#514E47;
}

.dropdown
{
/*padding:1px;*/
width:193px;
height:31px;
background:url(images/select_font.gif) no-repeat;
direction:rtl;
cursor:pointer;
font-size:14px;
font-family:Tahoma;
color:#514E47;
}

.dd_list
{
border:1px #CCCCCC solid;
width:180px;
position:relative;
padding-left:-12px;
overflow:hidden;
visibility:hidden;
direction:rtl;
margin-right:0px;
cursor:pointer;
color:#514E47;
z-index:1;
}

.my_ul
{
 width:100%;
}

.my_li
{
	background-color:#E3D4B3;
	width:100%;
	padding:2px;
}

.my_li a:hover
{
	color:Blue;
}

/*****************/
#whattodo_Question
{
	top:125px;
	right:35px;
}

#whattodo
{
	position:absolute;
	top:144px;
	right:24px;
}
/*****************/
#where_Question
{
	top:125px;
	right:475px;
}

#where
{
	position:absolute;
	top:144px;
	right:464px;
}
/*****************/
#howlong_Question
{
	top:245px;
	right:35px;
}

#howlong
{
	position:absolute;
	top:263px;
	right:24px;
}
/*****************/
#whatbudget_Question
{
	top:245px;
	right:254px;
}

#whatbudget
{
	position:absolute;
	top:263px;
	right:244px;
}
/*****************/
#howmany_Question
{
	top:125px;
	right:254px;
}

#howmany
{
	position:absolute;
	top:144px;
	right:257px;
}

.howmany_text
{
	background:url(images/wizard_textbox.jpg) no-repeat;
	height:31px;
	width:180px;
	border:none;
	direction:rtl;
	color:#514E47;
}

/*-----------------------------------------*/
#black_strip
{
	height: 3px;
	width: 100%;
	background: black;
}

/*------------ WORKSHOP -------------------*/
#workshop_buttons
{
	height:119px;
	/*background-color: #1B1B1B;*/
	background:url(images/icons_strip_sides_strech.jpg) repeat-x;
}

#buttons_strip
{
	margin-left:auto;
	margin-right:auto;
	width:977px;
	position: relative;
}

#buttons_strip ul
{

}

#buttons_strip li
{
	margin-top:3px;	
	height:116px;
	width:159px;
	list-style-type: none;
	float:left;
	cursor:pointer;
}

#team_button
{
	background:url(images/main_icon_team_idle.jpg) no-repeat;
}

#team_button:hover
{
	background:url(images/main_icon_team_hover.jpg) no-repeat;
}

#managers_button
{
	background:url(images/main_icon_managers_idle.jpg) no-repeat;
}

#managers_button:hover
{
	background:url(images/main_icon_managers_hover.jpg) no-repeat;
}

#workers_button
{
	background:url(images/main_icon_workers_idle.jpg) no-repeat;
}

#workers_button:hover
{
	background:url(images/main_icon_workers_hover.jpg) no-repeat;
}

#lectures_button
{
	background:url(images/main_icon_lectures_idle.jpg) no-repeat;
}

#lectures_button:hover
{
	background:url(images/main_icon_lectures_hover.jpg) no-repeat;
}

#enrichment_button
{
	background:url(images/main_icon_enrichment_idle.jpg) no-repeat;
}

#enrichment_button:hover
{
	background:url(images/main_icon_enrichment_hover.jpg) no-repeat;
}

#contact_button
{
	background:url(images/main_icon_contact_idle.jpg) no-repeat;
}

#contact_button:hover
{
	background:url(images/main_icon_contact_hover.jpg) no-repeat;
}
/*------------ MAIN TEXT -------------------*/
#main_text
{
	height:232px;
	background-color: #473B2F;	
}

#main_text_content
{
	/*background:url(images/main_text.jpg) no-repeat;*/
	width:945px;
	padding-right:20px;
	height:354px;
	margin-left:auto;
	margin-right:auto;
	font-family:Tahoma;
}

#main_text_head
{
	color:white;
	font-size: 23px;
}

#saturica_name
{
	color:#6DCFF6;
	font-size: 23px;
	font-weight: bold;
}

#main_text_mid
{
	color:#CEBCAA;
	font-size: 14px;
}

.white_text
{
	color:white;
	font-size: 14px;
}
/*------------ bottom -------------------*/
#bottom
{
	height:428px;
	/*background-color: #E0D1B0;*/
	background-color: #b8a47f;
}

#bottom_content
{
	background:url(images/bottom_bg.jpg) no-repeat;
	margin-left:auto;
	margin-right:auto;
	width:959px;
	height:428px;
	position:relative;
}

#bottom_content li
{
	list-style-type: none;
	float:left;
	
}

#blog
{
	background:url(images/blog_bg.jpg) no-repeat;
	width:276px;
	height:378px;
	position:absolute;
	top:25px;
	right:25px;
}

#recomended
{
	background:url(images/recommended_bg.jpg) no-repeat;
	width:277px;
	height:275px;
	position:absolute;
	top:25px;
	right:315px;
}

#dictionery
{
	background:url(images/dictionary_bg_text.jpg) no-repeat;
	width:277px;
	height:88px;
	position:absolute;
	top:315px;
	right:315px;
}

#video
{
	width:305px;
	height:377px;
	position:absolute;
	top:25px;
	right:630px;
}


/*------------ buttom_search -------------------*/
#buttom_search
{
	height:75px;
	background-color:#715947;
}

#buttom_search_content
{
	font-family:Tahoma;
	text-align:right;
	color:white;
	font-size:22px;
	margin-left:auto;
	margin-right:auto;
	width:959px;
	height:75px;
	position:relative;
}



#get_details_button
{
	background:url(images/search_results_button_idle.png) no-repeat;
	height:43px;
	width:162px;
	position:relative;

	left:50px;
	top:74px;	
	cursor:pointer;
}


#get_details_button:hover
{
	background:url(images/search_results_button_hover.png) no-repeat;
	height:43px;
	width:162px;
	position:relative;

	left:50px;
	top:74px;	
	cursor:pointer;
}

#get_details_button:pushed
{
	background:url(images/search_results_button_pushed.png) no-repeat;
	height:43px;
	width:162px;
	position:relative;

	left:50px;
	top:74px;	
	cursor:pointer;
}


#get_details_button_recommended
{
	background:url(images/recommended_button_idle.png) no-repeat;
	height:43px;
	width:162px;
	position:absolute;

	left:75px;
	top:280px;	
	cursor:pointer;
}

#get_details_button_recommended:hover
{
	background:url(images/recommended_button_hover.png) no-repeat;
	height:43px;
	width:162px;
	position:absolute;

	left:75px;
	top:280px;	
	cursor:pointer;
}

#get_details_button_recommended:pushed
{
	background:url(images/recommended_button_pushed.png) no-repeat;
	height:43px;
	width:162px;
	position:absolute;

	left:75px;
	top:280px;	
	cursor:pointer;
}



#buttom_search_button
{
	background:url(images/bottom_search_button_idle.jpg) no-repeat;
	height:43px;
	width:162px;
	position:absolute;

	right:287px;
	bottom:13px;
	
	cursor:pointer;
}

#buttom_search_button:hover
{
	background:url(images/bottom_search_button_hover.jpg) no-repeat;
	height:43px;
	width:162px;
	position:absolute;

	right:287px;
	bottom:13px;
	
	cursor:pointer;
}

#buttom_search_button:pushed
{
	background:url(images/bottom_search_button_pushed.jpg) no-repeat;
	height:43px;
	width:162px;
	position:absolute;

	right:287px;
	bottom:13px;
	
	cursor:pointer;
}

#buttom_contact_button
{
	background:url(images/bottom_contact_button_idle.jpg) no-repeat;
	height:43px;
	width:162px;
	position:absolute;

	right:473px;
	bottom:13px;
	
	cursor:pointer;
}


#buttom_contact_button:hover
{
	background:url(images/bottom_contact_button_hover.jpg) no-repeat;
	height:43px;
	width:162px;
	position:absolute;

	right:473px;
	bottom:13px;
	
	cursor:pointer;
}


#buttom_contact_button:pushed
{
	background:url(images/bottom_contact_button_pushed.jpg) no-repeat;
	height:43px;
	width:162px;
	position:absolute;

	right:473px;
	bottom:13px;
	
	cursor:pointer;
}


/*------------ footer -------------------*/
#footer
{
	height:75px;
	background:url(images/bottom_menu_bg02.jpg);
	/*background-color: #1B1B1B;*/
}

#footer_content
{
	margin-left:auto;
	margin-right:auto;
	width:959px;
	height:75px;
	position:relative;
}

#footer_content li
{
	list-style-type: none;
	float:left;	
}

#links
{
	font-size:11px;
	font-family:Tahoma;
	text-align:right;
	color:#AF674E;
	line-height:20px;
	height:40px;
	margin-top:20px;
	position:absolute;
	right:0px;
}

#links a
{
	color:#B2C5CD;
	text-decoration:none;
}

#links a:hover
{
	text-decoration:underline;
}

#small_logo
{
	background:url(images/bottom_menu_logo.jpg) no-repeat;
	width:160px;
	height:50px;
	margin-top:20px;
	margin-left:85px;
}

#midigital_logo
{
	color:#B2C5CD;
	font-size:11px;
	font-family:Tahoma;
	width:100px;
	height:40px;
	text-align:center;
	margin-top:30px;
}

#midigital_logo a
{
	color:White;
	text-decoration:none;
}

