@CHARSET "UTF-8";

html 
{
  filter: expression(document.execCommand("BackgroundImageCache", false, true));
}

#header_content_search .textInput
{
	border:none;
	position:relative;
	margin-top:7px;
	margin-bottom:auto;
	height:34px;
	width:212px;
	background-color: transparent;
	text-align: center;
	color:#CEBDAD;
}


.howmany_text  /* for ie :(*/
{
	margin-top:5px;
	height:25px;
}

.dd_text_search  /* for the refine search dropdown */
{
 width:190px;
 height:25px;
 border:0px none;
 background:none;
/* margin-left:20px;
 margin-right:5px;*/
 margin-top:3px;
 direction:rtl;
 cursor:default;
 font-size:14px;
 font-family:Tahoma;
 color:#514E47;
}


.dd_text
{
 width:173px;
 height:31px;
 border:0px none;
 background:none;
 margin-top:6px;
 margin-left:20px;
 margin-right:5px;
 direction:rtl;
 cursor:default;
 font-size:12px;
 font-family:Tahoma;
 color:#514E47;
}