@CHARSET "UTF-8";

* 
{
margin: 0px;
padding: 0px;
}

form{clear:both;}

body
{
	/* background-color: #1b1b1b; */
	background-color: #B8A47F;
}

/* LAYOUT */



/*------------ HEADER -------------------*/
#header
{
	/*width:1300px;*/
	height:157px;
	background-color:#473B2F;
	position:relative;
}

#header ul
{
height:157px;
list-style-type: none;
position:relative;
margin-left:auto;
margin-right:auto;
width:1238px;
}

#header li
{
	float:left;
}

#header_content
{
	width:977px;
	background:url("images/top_strip_main_bg.jpg") no-repeat;
	height:157px;
	position:relative;
}

#header_content_search
{
	position:relative;
	margin-top:70px;
	margin-left:6px;
	height:30px;
	width:250px;
	float:left;
}

#search_form
{
	height:38px;
	width:212px;
}

#textInput_div
{
	background:url("images/search_text_box_idle.jpg") no-repeat;
	border:none;
	/*height:38px;*/
	height:38px;
	width:212px;
	font-size:12px;
	font-family:Tahoma;
	position:absolute;
	right:0px;
	top:0px;
	
}

#header_content_search .textInput
{
	border:none;
	position:relative;
	margin-top:auto;
	margin-bottom:auto;
	height:34px;
	width:212px;
	background-color: transparent;
	text-align: center;
	color:#CEBDAD;
}

#search_icon
{
	position:absolute;
	bottom:5px;
	right:230px;
	height:16px;
}

#header_right
{
	width:130px;
	background:url("images/top_strip_right_side.jpg") no-repeat;
	height:157px;
}

#header_left
{
	/*width:122px;*/
	width:130px;
	height:157px;
}

#navigation
{
	position:absolute;
	bottom:0px;
	right:0px;
	height:45px;
}

#navigation ul
{
height:45px;
list-style-type: none;
width:969px;
bottom: 6px;
right: 1px;
}

#navigation li
{
	float:left;
	cursor:pointer;
}

#menu_home
{
	width:99px;
	height:45px;
	background:url("images/main_menu_homepage_idle.jpg") no-repeat;
}

#menu_home_pushed
{
	width:99px;
	height:45px;
	background:url("images/main_menu_homepage_pushed.jpg") no-repeat;
}

#menu_home:hover
{
	width:99px;
	height:45px;
	background:url("images/main_menu_homepage_hover.jpg") no-repeat;
}

#menu_whatwedo
{
	width:154px;
	height:45px;
	background:url("images/main_menu_whatwedo_idle.jpg") no-repeat;
}

#menu_whatwedo:hover
{
	width:154px;
	height:45px;
	background:url("images/main_menu_whatwedo_hover.jpg") no-repeat;
}


#menu_whatwedo_pushed
{
	width:154px;
	height:45px;
	background:url("images/main_menu_whatwedo_pushed.jpg") no-repeat;
}

#menu_recommended
{
	width:144px;
	height:45px;
	background:url("images/main_menu_recommended_idle.jpg") no-repeat;
}

#menu_recommended:hover
{
	width:144px;
	height:45px;
	background:url("images/main_menu_recommended_hover.jpg") no-repeat;
}

#menu_recommended_pushed
{
	width:144px;
	height:45px;
	background:url("images/main_menu_recommended_pushed.jpg") no-repeat;
}

#menu_customized
{
	width:196px;
	height:45px;
	background:url("images/main_menu_customized_idle.jpg") no-repeat;
}

#menu_customized:hover
{
	width:196px;
	height:45px;
	background:url("images/main_menu_customized_hover.jpg") no-repeat;
}

#menu_customized_pushed
{
	width:196px;
	height:45px;
	background:url("images/main_menu_customized_pushed.jpg") no-repeat;
}

#menu_locations
{
	width:107px;
	height:45px;
	background:url("images/main_menu_locations_idle.jpg") no-repeat;
}

#menu_locations:hover
{
	width:107px;
	height:45px;
	background:url("images/main_menu_locations_hover.jpg") no-repeat;
}

#menu_locations_pushed
{
	width:107px;
	height:45px;
	background:url("images/main_menu_locations_pushed.jpg") no-repeat;
}

#menu_gallery
{
	width:85px;
	height:45px;
	background:url("images/main_menu_gallery_idle.jpg") no-repeat;
}

#menu_gallery:hover
{
	width:85px;
	height:45px;
	background:url("images/main_menu_gallery_hover.jpg") no-repeat;
}

#menu_gallery_pushed
{
	width:85px;
	height:45px;
	background:url("images/main_menu_gallery_pushed.jpg") no-repeat;
}

#menu_blog
{
	width:78px;
	height:45px;
	background:url("images/main_menu_blog_idle.jpg") no-repeat;
}

#menu_blog:hover
{
	width:78px;
	height:45px;
	background:url("images/main_menu_blog_hover.jpg") no-repeat;
}

#menu_blog_pushed
{
	width:78px;
	height:45px;
	background:url("images/main_menu_blog_pushed.jpg") no-repeat;
}

#menu_contact
{
	width:99px;
	height:45px;
	background:url("images/main_menu_contact_idle.jpg") no-repeat;
}

#menu_contact:hover
{
	width:99px;
	height:45px;
	background:url("images/main_menu_contact_hover.jpg") no-repeat;
}

#menu_contact_pushed
{
	width:99px;
	height:45px;
	background:url("images/main_menu_contact_pushed.jpg") no-repeat;
}

/*------------ RESULTS -------------------*/

#results
{
	position:relative;
	width:959px;
	
	background:url("images/page_header_bg.jpg") no-repeat;
}


#results_wizard
{
	background-color: #B8A47F;
	height:883px;
	

}

#results_wizard_content
{
	width:959px;
	margin-left:auto;
	margin-right:auto;
}

#results_title
{
	height:147px;
	top:35px;
	right:50px;
	color:#514E47;
	font-size:22px;
	font-family:Tahoma;
}

#results_title_small
{
	height:147px;
	top:35px;
	right:0px;
	color:#514E47;
	font-size:16px;
	font-family:Tahoma;
}

#results_title_text_A
{
	position:absolute;
	top:25px;
	right:22px;
	color:#514E47;
	font-size:22px;
	font-family:Tahoma;
	text-align:right;	
	
}


#results_title_text_B
{
	position:absolute;
	top:65px;
	right:55px;
	color:#514E47;
	font-size:15px;
	font-family:Tahoma;
	text-align:right;	
	
}

#search_results_content
{
	width:959px;
	margin-left:auto;
	margin-right:auto;
}

#results_boxes ul
{

}

#results_boxes li
{	
	height:147px;
	width:959px;
	list-style-type: none;
	float:left;
	
}


#search_harder_button
{
	background:url("images/additional_search_button_idle.jpg") no-repeat;
	height:23px;
	width:96px;
	position:absolute;
	top:103px;
	left:210px;
	cursor:pointer;

}


#search_harder_button:hover
{
	background:url("images/additional_search_button_hover.jpg") no-repeat;
	height:23px;
	width:96px;
	position:absolute;
	top:103px;
	left:210px;
	cursor:pointer;


}
	

#results_box_A
{
	
	height:147px;
	width:959px;
	
	background:url("images/search_results_bright_bg.jpg") no-repeat;
}
#results_box_B
{
	
	height:147px;
	width:959px;
	
	background:url("images/search_results_dark_bg.jpg") no-repeat;
}

#results_workshop_text_box
{
	position:absolute;
	right:260px;
	width:500px;
	float:right;	
	height:147px;
}

#results_workshop_img_box
{
	position:absolute;
	height:147px;
	right:0px;
	width:249px;
	float:right;
}

/*****************/
#filter_Subjects
{
	top:107px;
	right:330px;
	font-size:12px;
}

#filter
{
	width:190px;
	position:absolute;
	top:99px;
	right:446px;
}


/*------------ ABOUT WHAT WE DO -------------------*/


#about_wizard
{
	height:744px;
	background-color: #B8A47F;
}

#about_wizard_main
{
	position:relative;
	height:744px;
	width:1238px;
	margin-left:auto;
	margin-right:auto;
}

#about_main_title
{	
	
	height:369px;
	position:relative;
	
	width:960px;
	margin-left:139px;
	margin-right:139px;

	background:url("images/about_header_bg.jpg") no-repeat;
}


#about_title
{
	position:absolute;
	top:105px;
	right:55px;
	color:#514E47;
	font-size:13px;
	font-family:Tahoma;
	text-align:right;
}


#about_second_title
{	
	
	height:375px;
	position:relative;
	
	width:960px;
	margin-left:139px;
	margin-right:139px;

	background:url("images/about_limor_bg.jpg") no-repeat;
}


#about_title_second_text
{
	position:absolute;
	top:40px;
	right:55px;
	color:#514E47;
	font-size:13px;
	font-family:Tahoma;
	text-align:right;
}

/*------------ CONTACT US -------------------*/


#contact_us_main
{
	height:620px;
	background-color: #B8A47F;

}


#contact_us_main_title
{	
	
	height:149px;
	position:relative;
	
	width:959px;
	margin-left:auto;
	margin-right:auto;

	background:url("images/header_bg.jpg") no-repeat;
}

#contact_us_title
{
	position:absolute;
	top:35px;
	right:35px;
	color:#514E47;
	font-size:22px;
	font-family:Tahoma;
}


#contact_us_title_B
{
	position:absolute;
	top:95px;
	right:50px;
	color:#514E47;
	font-size:16px;
	font-family:Tahoma;
	text-align:right;
}


#contact_us_details
{
	
	background:url("images/main_bg.jpg") no-repeat;
	
	height:470px;
	position:relative;
	
	width:959px;
	margin-left:auto;
	margin-right:auto;
}

#contact_us_text
{
	
	position:absolute;
	top:65px;
	right:75px;
	color:white;
	font-size:14px;
	font-family:Tahoma;

}



#text_must_insert
{
	position:absolute;
	width:60px;
	right:15px;
	text-align:right;
	color:white;
	font-size:14px;
	font-family:Tahoma;
	
}
	

#client_name
{
	position:absolute;
	width:150px;
	right:15px;
	text-align:right;
	color:white;
	font-size:14px;
	font-family:Tahoma;
	font-weight:bold;

}

#client_name_A
{
	position:absolute;
	right:110px;
	
}

.client_name_box
{
	background:url(images/text_box_small.jpg) no-repeat;
	height:31px;
	width:265px;
	border:none;
	direction:rtl;
	color:#514E47;
	text-align:center;
	padding-top:0.2cm;
	
}
	


#company_name
{
	position:absolute;
	width:150px;
	right:15px;
	top:45px;
	text-align:right;
	color:white;
	font-size:14px;
	font-family:Tahoma;
	font-weight:bold;

}

#company_name_A
{
	position:absolute;
	right:110px;
	top:45px;
	
}

.company_name_box
{
	background:url(images/text_box_small.jpg) no-repeat;
	height:31px;
	width:265px;
	border:none;
	direction:rtl;
	color:#514E47;
	top:45px;
	text-align:center;
	padding-top:0.2cm;
}	
	
	

#e_mail_contact
{
	position:absolute;
	width:150px;
	right:15px;
	top:90px;
	text-align:right;
	color:white;
	font-size:14px;
	font-family:Tahoma;
	font-weight:bold;

}

#e_mail_contact_A
{
	position:absolute;
	right:110px;
	top:90px;
	
}

.e_mail_contact_box
{
	background:url(images/text_box_small.jpg) no-repeat;
	height:31px;
	width:265px;
	border:none;
	direction:rtl;
	color:#514E47;
	top:90px;
	text-align:center;
	padding-top:0.2cm;
}	
	
	
#text_must_insert_email
{
	position:absolute;
	top:92px;
	width:60px;
	right:15px;
	text-align:right;
	color:white;
	font-size:14px;
	font-family:Tahoma;
	
}
	


#subject_contact
{
	position:absolute;
	width:150px;
	right:15px;
	top:135px;
	text-align:right;
	color:white;
	font-size:14px;
	font-family:Tahoma;
	font-weight:bold;

}

#subject_contact_A
{
	position:absolute;
	right:110px;
	top:135px;
	
}

.subject_contact_box
{
	background:url(images/text_box_small.jpg) no-repeat;
	height:31px;
	width:265px;
	border:none;
	direction:rtl;
	color:#514E47;
	top:135px;
	text-align:center;
	padding-top:0.2cm;
}		
	
	


#msg_contact
{
	position:absolute;
	width:150px;
	right:15px;
	top:180px;
	text-align:right;
	color:white;
	font-size:14px;
	font-family:Tahoma;
	font-weight:bold;

}

#msg_contact_A
{
	position:absolute;
	right:110px;
	top:180px;

	
}

.msg_contact_box
{
	align:top;
	background:url(images/text_box_large.jpg) no-repeat;
	height:130px;
	width:265px;
	border:none;
	direction:rtl;
	color:#514E47;
	top:180px;
	text-align:center;
	

}

#text_must_insert_msg
{
	position:absolute;
	top:182px;
	width:60px;
	right:15px;
	text-align:right;
	color:white;
	font-size:14px;
	font-family:Tahoma;
	
	
}
	
	
	
	
#approval_contact
{
	position:absolute;
	width:370px;
	right:20px;
	top:310px;
	text-align:right;
	color:white;
	font-size:12px;
	font-family:Tahoma;

}



.approval_contact_box
{
	height:30px;
	border:none;
	color:#514E47;
	position:absolute;
	right:0px;
	top:310px;
}
	
	
/*------------ RECOMMENDEDS -------------------*/


#recommendeds_wizard
{
	height:750px;
	background-color: #B8A47F;

}

#recommendeds_wizard_main
{
	height:750px;
	width:1238px;
	margin-left:auto;
	margin-right:auto;
}

#recommendeds_main_title
{	
	
	height:149px;
	position:relative;
	
	width:960px;
	margin-left:139px;
	margin-right:139px;

	background:url("images/recommended_header_bg.jpg") no-repeat;
}


#recommendeds
{
	
	background:url("images/recommended_main_bg.jpg") no-repeat;
	
	height:700px;
	position:relative;
	
	width:960px;
	margin-left:139px;
	margin-right:139px;
}


#recommended_title
{
	position:absolute;
	top:35px;
	right:55px;
	color:#514E47;
	font-size:22px;
	font-family:Tahoma;
}


#recommended_title_B
{
	position:absolute;
	top:105px;
	right:55px;
	color:#514E47;
	font-size:16px;
	font-family:Tahoma;
	
}

#recommended_A
{	
	position:absolute;
	top:270px;
	right:65px;
	text-align:right;
	width:280px;
}

#recommended_B
{	
	position:absolute;
	top:270px;
	right:363px;
	text-align:right;
	width:280px;
}

#recommended_C
{	
	position:absolute;
	top:270px;
	right:661px;
	text-align:right;
	width:280px;
}
	
	
#recommended_name_title
{
	
	top:32px;
	right:55px;
	color:#514E47;
	font-size:22px;
	font-family:Tahoma;
	
}

#recommended_small_text
{
	color:#f00;
	font-size:10px;
	font-family:Tahoma;
	
}

#recommended_small_text_content
{
	color:#514E47;
	font-size:10px;
	font-family:Tahoma;
	
}



#recommended_content_descriptoin
{
	color:#514E47;
	font-size:12px;
	font-family:Tahoma;
}




#recommended_A_image
{
	
	position:absolute;
	top:50px;
	right:60px;

}

#recommended_B_image
{
	
	position:absolute;
	top:50px;
	right:360px;

}

#recommended_C_image
{
	
	position:absolute;
	top:50px;
	right:656px;

}


/*------------ SEARCH WIZARD -------------------*/
#wizard input
{
	font-weight: bold;
}

#search_wizard
{
	height:316px;
	background-color: #B8A47F;
}

#search_wizard_main
{
	width:1238px;
	margin-left:auto;
	margin-right:auto;
}

#search_wizard_content
{
	/*width:977px;*/
	width:960px;
	/*margin-left:auto;
	margin-right:auto;*/
	margin-left:139px;
	margin-right:139px;
}

#search_wizard_content ul
{
height:316px;
list-style-type: none;
/*width:977px;*/
width:960px;
}

#search_wizard_content li
{
	float:left;
}


#wizard_slogen
{
	background:url("images/wizard_slogan_image.jpg") no-repeat;
	height:316px;
	width:257px;
}

#wizard
{
	background:url("images/wizard_bg.jpg") no-repeat;
	height:316px;
	width:702px;
	position:relative;
}

#wizard_find_button
{
	background:url("images/wizard_find_button_idle.jpg") no-repeat;
	height:53px;
	width:172px;
	position:absolute;
	bottom:71px;
	left:44px;
	cursor:pointer;
}

#wizard_find_button:hover
{
	background:url("images/wizard_find_button_hover.jpg") no-repeat;
	height:53px;
	width:172px;
	position:absolute;
	bottom:71px;
	left:44px;
	cursor:pointer;
}

#need_help_button
{
	position:absolute;
	bottom:10px;
	left:20px;
}

#need_help_button a
{
	color:#813D26;
	font-size:14px;
	font-weight:bold;
	font-family:Tahoma;
}

#wizard_title
{
	position:absolute;
	top:15px;
	right:25px;
	color:#514E47;
	font-size:22px;
	font-family:Tahoma;
}

/*
.rowElem
{
	direction:rtl;
}

.rowElem ul
{
	display:none;
	overflow:auto;
	width:224px;
	height:31px;
}

.rowElem li
{
	width:224px;
	height:31px;
	direction:rtl;
}
*/

.questions
{
	font-size:14px;
	font-family:Tahoma;
	font-weight:bold;
	color:#DBCAA7;
	position:absolute;
}


/* dropdown section*/

.dd_text_search  /* for the refine search dropdown */
{
 width:190px;
 height:25px;
 border:0px none;
 background:none;
/* margin-left:20px;
 margin-right:5px;*/
 direction:rtl;
 cursor:default;
 font-size:14px;
 font-family:Tahoma;
 color:#514E47;
}
	
	
.dd_text
{
 width:173px;
 height:31px;
 border:0px none;
 background:none;
 margin-left:20px;
 margin-right:5px;
 direction:rtl;
 cursor:default;
 font-size:14px;
font-family:Tahoma;
color:#514E47;
}

.dropdown
{
/*padding:1px;*/
width:197px;
height:31px;
/*background:url(images/select_font.gif) no-repeat;*/
background:url(images/wizard_dropdown.jpg) no-repeat;
direction:rtl;
cursor:pointer;
font-size:14px;
font-family:Tahoma;
color:#514E47;
}


.search_wizard_dropdown
{
/*padding:1px;*/
width:190px;
height:25px;
/*background:url(images/select_font.gif) no-repeat;*/
background:url(images/search_wizard_dropdown.jpg) no-repeat;
direction:rtl;
cursor:pointer;
font-size:14px;
font-family:Tahoma;
color:#514E47;
/*margin-right:-15px;*/
margin-top:3px;

}

.dd_list
{
border:1px #CCCCCC solid;
width:180px;
position:relative;
padding-left:-12px;
overflow:hidden;
visibility:hidden;
direction:rtl;
margin-right:5px;
cursor:pointer;
color:#514E47;
z-index:1;
}

.my_ul
{
 width:100%;
}

.my_li
{
	background-color:#E3D4B3;
	width:100%;
	padding:2px;
}

.my_li a:hover
{
	color:Blue;
}

/*****************/
#whattodo_Question
{
	top:105px;
	right:35px;
}

#whattodo
{
	position:absolute;
	top:124px;
	right:33px;
}
/*****************/
#where_Question
{
	top:105px;
	right:475px;
}

#where
{
	position:absolute;
	top:124px;
	right:473px;
}
/*****************/
#howlong_Question
{
	top:225px;
	right:35px;
}

#howlong
{
	position:absolute;
	top:243px;
	right:33px;
}
/*****************/
#whatbudget_Question
{
	top:225px;
	right:254px;
}

#whatbudget
{
	position:absolute;
	top:243px;
	right:253px;
}

#not_including_food
{
	color:#DBCAA7;
	font-size: 12px;
	position:absolute;
	top:273px;
	right:255px;
}
/*****************/
#howmany_Question
{
	top:105px;
	right:254px;
}

#howmany
{
	position:absolute;
	top:124px;
	right:253px;
	background:url(images/wizard_textbox.jpg) no-repeat;
	height:31px;
	width:197px;
}

.howmany_text 
{
	background:transparent;
	margin-top:0px;
	height:31px;
	width:190px;
	border:none;
	direction:rtl;
	color:#514E47;
	text-align: center;
}


/*-----------------------------------------*/
#black_strip
{
	height: 3px;
	width: 100%;
	background: black;
}

/*------------ WORKSHOP -------------------*/
#workshop_buttons
{
	height:119px;
	/*background-color: #1B1B1B;*/
	background:url(images/icons_strip_sides_strech.jpg) repeat-x;
}

#workshop_buttons_main
{
	background:url(images/icons_strip_sides_strech.jpg) repeat-x;
	width: 1238px;
	margin-left:auto;
	margin-right:auto;
	position: relative;
	height:119px;
}

#buttons_strip
{
	/*margin-left:auto;
	margin-right:auto;*/
	margin-left:139px;
	margin-right:139px;
	width:960px;
	position: relative;
	height:116px;
}

#buttons_strip ul
{

}

#buttons_strip li
{
	margin-top:3px;	
	height:116px;
	width:159px;
	list-style-type: none;
	float:left;
	cursor:pointer;
}

#team_button
{
	background:url(images/main_icon_team_idle.jpg) no-repeat;
}

#team_button:hover
{
	background:url(images/main_icon_team_hover.jpg) no-repeat;
}

#managers_button
{
	background:url(images/main_icon_managers_idle.jpg) no-repeat;
}

#managers_button:hover
{
	background:url(images/main_icon_managers_hover.jpg) no-repeat;
}

#workers_button
{
	background:url(images/main_icon_workers_idle.jpg) no-repeat;
}

#workers_button:hover
{
	background:url(images/main_icon_workers_hover.jpg) no-repeat;
}

#lectures_button
{
	background:url(images/main_icon_lectures_idle.jpg) no-repeat;
}

#lectures_button:hover
{
	background:url(images/main_icon_lectures_hover.jpg) no-repeat;
}

#enrichment_button
{
	background:url(images/main_icon_enrichment_idle.jpg) no-repeat;
}

#enrichment_button:hover
{
	background:url(images/main_icon_enrichment_hover.jpg) no-repeat;
}

#contact_button
{
	background:url(images/main_icon_contact_idle.jpg) no-repeat;
}

#contact_button:hover
{
	background:url(images/main_icon_contact_hover.jpg) no-repeat;
}
/*------------ MAIN TEXT -------------------*/
#main_text
{
	height:232px;
	
}

#main_text_main
{
	height:354px;
	margin-left:auto;
	margin-right:auto;
	width: 1238px;
}

#main_text_content
{
	/*background:url(images/main_text.jpg) no-repeat;*/
	background-color: #473B2F;
	width:940px;
	padding-right:20px;
	height:354px;
	margin-left:139px;
	margin-right:139px;
	font-family:Tahoma;
}

#main_text_head
{
	color:white;
	font-size: 23px;
}

#saturica_name
{
	color:#6DCFF6;
	font-size: 23px;
	font-weight: bold;
}

#main_text_mid
{
	color:#CEBCAA;
	font-size: 14px;
}

.white_text
{
	color:white;
	font-size: 14px;
}
/*------------ bottom -------------------*/
#bottom
{
	
	/*background-color: #E0D1B0;*/
	background-color: #b8a47f;
}

#bottom_main
{
	margin-left:auto;
	margin-right:auto;
	width:1238px;
	height:428px;
	position:relative;
}

#bottom_content
{
	background:url(images/bottom_bg.jpg) no-repeat;
	margin-left:139px;
	margin-right:139px;
	width:960px;
	height:428px;
	position:relative;
}

#bottom_content li
{
	list-style-type: none;
	float:left;
	
}

#blog
{
	background:url(images/blog_bg.jpg) no-repeat;
	width:276px;
	height:378px;
	position:absolute;
	top:25px;
	right:25px;
}

#blog ul
{
	margin-top: 60px;
	margin-left:auto;
	margin-right:auto;
	text-align: center;
	padding: 5px;
	width: 250px;
}
	
#blog li
{
	list-style-type: none;
	float: none;
	border-bottom-color: #AF674E;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	max-height: 60px;
	overflow:hidden;
}

#blog li a
{
	line-height:60px;
	text-decoration: none;
	color : #403e32;
	font-size: 12px;
	font-family:Tahoma;
}

#blog li a:hover
{
	color: #AF674E;
}

#recomended
{
	background:url(images/recommended_bg.jpg) no-repeat;
	width:277px;
	height:275px;
	position:absolute;
	top:25px;
	right:315px;
}

#recomended ul
{
	margin-top: 60px;
	margin-left:auto;
	margin-right:auto;
	text-align: center;
	padding: 5px;
	width: 250px;
}
	
#recomended li
{
	list-style-type: none;
	float: none;
	
	max-height: 60px;
	overflow:hidden;
}

.recomended_li
{
/*	list-style-type: none;
	float: none;*/
	border-bottom-color: #AF674E;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	/*max-height: 60px;
	overflow:hidden;*/
}

#recomended li a
{
	line-height:60px;
	text-decoration: none;
	color : #403e32;
	font-size: 12px;
	font-family:Tahoma;
}

#recomended li a:hover
{
	color: #AF674E;
}

#dictionery
{
	background:url(images/dictionary_bg_text.jpg) no-repeat;
	width:277px;
	height:88px;
	position:absolute;
	top:315px;
	right:315px;
}

#video
{
	width:305px;
	height:377px;
	position:absolute;
	top:25px;
	right:630px;
}


/*------------ buttom_search -------------------*/
#buttom_search
{
	height:75px;
	background-color:#473B2F;
}

#buttom_search_content
{
	font-family:Tahoma;
	text-align:right;
	color:white;
	font-size:22px;
	margin-left:auto;
	margin-right:auto;
	width:959px;
	height:75px;
	position:relative;
}



#get_details_button
{
	background:url(images/search_results_button_idle.png) no-repeat;
	height:43px;
	width:162px;
	position:relative;

	left:30px;
	top:90px;	
	cursor:pointer;
}


#get_details_button:hover
{
	background:url(images/search_results_button_hover.png) no-repeat;
	height:43px;
	width:162px;
	position:relative;

	left:30px;
	top:90px;		
	cursor:pointer;
}

#get_details_button:pushed
{
	background:url(images/search_results_button_pushed.png) no-repeat;
	height:43px;
	width:162px;
	position:relative;

	left:30px;
	top:90px;		
	cursor:pointer;
}


#get_details_button_recommended
{
	background:url(images/recommended_button_idle.png) no-repeat;
	height:43px;
	width:162px;
	position:absolute;

	left:75px;
	top:280px;	
	cursor:pointer;
}

#get_details_button_recommended:hover
{
	background:url(images/recommended_button_hover.png) no-repeat;
	height:43px;
	width:162px;
	position:absolute;

	left:75px;
	top:280px;	
	cursor:pointer;
}

#get_details_button_recommended:pushed
{
	background:url(images/recommended_button_pushed.png) no-repeat;
	height:43px;
	width:162px;
	position:absolute;

	left:75px;
	top:280px;	
	cursor:pointer;
}



#buttom_search_button
{
	background:url(images/bottom_search_button_idle.jpg) no-repeat;
	height:43px;
	width:162px;
	position:absolute;

	right:287px;
	bottom:13px;
	
	cursor:pointer;
}

#buttom_search_button:hover
{
	background:url(images/bottom_search_button_hover.jpg) no-repeat;
	height:43px;
	width:162px;
	position:absolute;

	right:287px;
	bottom:13px;
	
	cursor:pointer;
}

#buttom_search_button:pushed
{
	background:url(images/bottom_search_button_pushed.jpg) no-repeat;
	height:43px;
	width:162px;
	position:absolute;

	right:287px;
	bottom:13px;
	
	cursor:pointer;
}

#buttom_contact_button
{
	background:url(images/bottom_contact_button_idle.jpg) no-repeat;
	height:43px;
	width:162px;
	position:absolute;

	right:473px;
	bottom:13px;
	
	cursor:pointer;
}


#buttom_contact_button:hover
{
	background:url(images/bottom_contact_button_hover.jpg) no-repeat;
	height:43px;
	width:162px;
	position:absolute;

	right:473px;
	bottom:13px;
	
	cursor:pointer;
}


#buttom_contact_button:pushed
{
	background:url(images/bottom_contact_button_pushed.jpg) no-repeat;
	height:43px;
	width:162px;
	position:absolute;

	right:473px;
	bottom:13px;
	
	cursor:pointer;
}


#NextPrevious
{

	height:23px;
	
	background:url(images/prev_next_bg.jpg);
	

}


#NextStyle
{
	background:url(images/prev_next_bg.jpg);
	margin-left:auto;
	margin-right:auto;
	position:relative;
	left:0px;
	width:959px;
	font-size:14px;
	font-family:Tahoma;
	text-align:left;
	color:white;
	
	
}
	
#NextStyle a
{
	background:url(images/prev_next_bg.jpg);
	margin-left:auto;
	margin-right:auto;
	position:relative;
	width:959px;
	left:0px;
	color:white;
	text-decoration:none;
}



#PrevStyle
{
	background:url(images/prev_next_bg.jpg);
	margin-left:auto;
	margin-right:auto;
	position:relative;
	width:959px;
	left:0px;
	font-size:14px;
	font-family:Tahoma;
	text-align:right ;
	color:white;
	
	
}

#PrevStyle a
{
	background:url(images/prev_next_bg.jpg);
	margin-left:auto;
	margin-right:auto;
	width:959px;
	position:relative;
	left:0px;
	color:white;
	text-decoration:none;
}



/*------------ footer -------------------*/
#footer
{
	height:75px;
	background:url(images/bottom_menu_bg02.jpg);
	position:relative;
	/*background-color: #1B1B1B;*/
}

#footer li
{
	list-style-type: none;
	float:left;	
}

#footer_content
{
	margin-left:auto;
	margin-right:auto;
	/*width:959px;*/
	width:1238px;
	height:75px;
	position:relative;
}

#footer_main_content
{
	background:url(images/bottom_menu_bg02.jpg);
	width:959px;
	height:75px;
	position:relative;
}

/*#footer_content li
{
	list-style-type: none;
	float:left;	
}*/

#footer_left
{
	width:130px;
	height:75px;
}

#footer_right
{
	width:148px;
	height:75px;
	background:url(images/bottom_menu_bg02.jpg);
}

#links
{
	font-size:11px;
	font-family:Tahoma;
	text-align:right;
	color:#AF674E;
	line-height:20px;
	height:40px;
	margin-top:20px;
	position:absolute;
	right:0px;
	
}

#links a
{
	color:#B2C5CD;
	text-decoration:none;
}

#links a:hover
{
	text-decoration:underline;
}

#small_logo
{
	background:url(images/bottom_menu_logo.jpg) no-repeat;
	width:160px;
	height:50px;
	margin-top:20px;
	margin-left:85px;
}

#midigital_logo
{
	color:#B2C5CD;
	font-size:11px;
	font-family:Tahoma;
	width:100px;
	height:40px;
	text-align:center;
	margin-top:30px;
}

#midigital_logo a
{
	color:White;
	text-decoration:none;
}

/******** for customized page*/

#customized_content
{
	background-color:#b8a47f;
	color: #44382c;
	font-family:Tahoma;
}

#customized_head
{
	background:url(images/customized_header_bg.jpg) no-repeat;
	height: 212px;
	width: 959px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	
}

#customized_main
{
	background:url(images/customized_main_bg_with_images.jpg) no-repeat;
	height: 570px;
	width: 959px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

#customized_footer
{
	background:#473b2f;
}

.customized_header
{
	font-size: 22px;
	color: #514E47;
}

.customized_header_small
{
	font-size: 16px;
	color: #514E47;
	
}

.customized_text
{
	/*line-height:95%;*/
	color: #514E47;
	font-size: 12px;
	/*font-weight:bold;*/
}
/******** for customized page*/


/************************* BLOG ******/

#blog_div
{
	width:960px;
	margin-left: auto;
	margin-right: auto;	
}



/***************************** GALLERY */

#gallery_page
{
	width: 100%;
	background-color: #b8a47f;
}

#gallery_head
{
	width: 959px;
	height:149px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	background:url(images/gallery_header_bg.jpg) no-repeat;
}

#gallery_head_content
{
	position: absolute;
	font-size:22px;
	font-family:Tahoma;
	color: #514E47;
	top:30px;
	right:25px;
}

#gallery_head_content2
{
	position: absolute;
	font-size:16px;
	font-family:Tahoma;
	color: #514E47;
	top:100px;
	right:50px;
}

#gallery_main
{
	width: 959px;
	padding-top:20px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	background:url(images/gallery_main_bg.jpg) no-repeat;
}

#channel_div
{
	width: 959px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	padding-top:20px; 
}

#channel
{
	width: 699px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

#gallery_div
{
	width: 699px;
	height:435px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	background:url(images/stills_main_bg.jpg) no-repeat;
}

  #gallery {
    width: 699px;
    height:435px;
    padding-top:15px;
    /*padding: 30px;*/
    position: relative;
	margin-left: auto;
	margin-right: auto;
    /*background: #e1eef5;*/
    /*background: #E2EAF2;
    -moz-border-radius: 10px 10px 10px 10px; /* tl tr br bl */
	/*border-radius: 10px 10px 10px 10px;*/
  }
#descriptions 
	{
    position: relative;
    height: 50px;
    background: #EEE;
    margin-top: 10px;
    width: 640px;
    padding: 10px;
    overflow: hidden;
    font-size:12px;
	font-family:Tahoma;
  }
#descriptions .ad-image-description 
    {
      position: absolute;
    }
#descriptions .ad-image-description .ad-description-title 
	{
        display: block;
	}
/***************************** GALLERY  END */
